.star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 809px 457px #fff, 992px 989px #fff, 570px 396px #fff, 960px 723px #fff, 284px 495px #fff, 659px 331px #fff, 1686px 137px #fff, 1198px 607px #fff, 122px 987px #fff, 840px 377px #fff, 402px 285px #fff, 745px 38px #fff, 98px 887px #fff, 1072px 385px #fff, 1365px 770px #fff, 1110px 791px #fff, 678px 320px #fff, 1704px 979px #fff, 1464px 839px #fff, 1412px 41px #fff, 616px 182px #fff, 1360px 464px #fff, 1013px 779px #fff, 668px 17px #fff, 1868px 385px #fff, 980px 853px #fff, 1005px 513px #fff, 830px 69px #fff, 992px 188px #fff, 1357px 333px #fff, 947px 295px #fff, 1813px 445px #fff, 425px 18px #fff, 773px 820px #fff, 1316px 672px #fff, 1793px 882px #fff, 478px 914px #fff, 116px 968px #fff, 175px 51px #fff, 1630px 300px #fff, 1169px 993px #fff, 1286px 587px #fff, 1795px 390px #fff, 1040px 355px #fff, 1163px 807px #fff, 1588px 447px #fff, 791px 36px #fff, 810px 457px #fff, 81px 328px #fff, 974px 995px #fff, 1544px 106px #fff, 1512px 101px #fff, 443px 549px #fff, 994px 890px #fff, 357px 36px #fff, 1357px 773px #fff, 1652px 105px #fff, 259px 465px #fff, 1747px 159px #fff, 1217px 519px #fff, 695px 51px #fff, 94px 963px #fff, 1117px 973px #fff, 682px 860px #fff, 116px 378px #fff, 581px 828px #fff, 872px 363px #fff, 1531px 279px #fff, 989px 53px #fff, 797px 651px #fff, 962px 44px #fff, 9px 682px #fff, 1583px 250px #fff, 174px 422px #fff, 1574px 780px #fff, 154px 35px #fff, 711px 848px #fff, 1360px 876px #fff, 1277px 868px #fff, 1081px 414px #fff, 1438px 931px #fff, 286px 785px #fff, 136px 32px #fff, 1021px 529px #fff, 1071px 979px #fff, 1208px 408px #fff, 1484px 554px #fff, 1299px 892px #fff, 1249px 141px #fff, 686px 95px #fff, 884px 90px #fff, 1641px 851px #fff, 935px 513px #fff, 1855px 451px #fff, 241px 330px #fff, 45px 68px #fff, 414px 891px #fff, 1024px 451px #fff, 1176px 632px #fff, 189px 105px #fff, 220px 288px #fff, 1607px 799px #fff, 1541px 880px #fff, 620px 777px #fff, 108px 119px #fff, 610px 875px #fff, 258px 612px #fff, 533px 308px #fff, 1071px 914px #fff, 1753px 264px #fff, 1808px 452px #fff, 535px 922px #fff, 1880px 194px #fff, 232px 409px #fff, 429px 624px #fff, 899px 95px #fff, 395px 687px #fff, 900px 598px #fff, 1779px 866px #fff, 1660px 527px #fff, 1320px 451px #fff, 1133px 119px #fff, 1525px 205px #fff, 1561px 162px #fff, 206px 358px #fff, 1185px 238px #fff, 1188px 217px #fff, 275px 730px #fff, 554px 524px #fff, 1320px 873px #fff, 1077px 236px #fff, 370px 274px #fff, 371px 403px #fff, 1465px 853px #fff, 1122px 24px #fff, 1388px 294px #fff, 615px 145px #fff, 908px 33px #fff, 277px 48px #fff, 1431px 388px #fff, 768px 193px #fff, 714px 639px #fff, 835px 546px #fff, 67px 775px #fff, 863px 957px #fff, 947px 95px #fff, 924px 55px #fff, 720px 742px #fff, 1653px 357px #fff, 1094px 682px #fff, 1770px 593px #fff, 1778px 771px #fff, 603px 935px #fff, 131px 786px #fff, 530px 736px #fff, 1648px 358px #fff, 1498px 878px #fff, 1038px 304px #fff, 771px 769px #fff, 1473px 516px #fff, 1178px 420px #fff, 1554px 836px #fff, 1636px 136px #fff, 1833px 737px #fff, 1596px 57px #fff, 1027px 971px #fff, 1349px 52px #fff, 1415px 963px #fff, 112px 982px #fff, 906px 688px #fff, 343px 223px #fff, 1883px 982px #fff, 1112px 49px #fff, 10px 982px #fff, 269px 168px #fff, 121px 812px #fff, 942px 688px #fff, 369px 805px #fff, 872px 877px #fff, 1682px 771px #fff, 897px 817px #fff, 226px 793px #fff, 1610px 409px #fff, 250px 548px #fff, 903px 413px #fff, 876px 962px #fff, 1719px 6px #fff, 524px 916px #fff, 60px 392px #fff, 65px 898px #fff, 375px 874px #fff, 252px 753px #fff, 1531px 611px #fff, 1101px 851px #fff, 1130px 11px #fff, 1148px 30px #fff, 1870px 177px #fff, 633px 837px #fff, 1733px 829px #fff, 1496px 456px #fff, 1829px 936px #fff, 1441px 737px #fff, 743px 1000px #fff, 599px 492px #fff, 956px 98px #fff, 993px 146px #fff, 1364px 876px #fff, 1269px 105px #fff, 999px 478px #fff, 1825px 644px #fff, 1248px 252px #fff, 982px 935px #fff, 1817px 167px #fff, 819px 266px #fff, 206px 242px #fff, 653px 761px #fff, 966px 41px #fff, 568px 516px #fff, 241px 372px #fff, 1214px 900px #fff, 1362px 235px #fff, 1713px 818px #fff, 610px 688px #fff, 1862px 475px #fff, 2px 21px #fff, 1861px 681px #fff, 69px 289px #fff, 776px 387px #fff, 1169px 678px #fff, 356px 565px #fff, 504px 569px #fff, 846px 944px #fff, 612px 689px #fff, 1118px 119px #fff, 378px 777px #fff, 196px 82px #fff, 1916px 666px #fff, 251px 837px #fff, 357px 593px #fff, 156px 59px #fff, 752px 596px #fff, 1237px 810px #fff, 1013px 743px #fff, 1858px 532px #fff, 1770px 367px #fff, 1901px 743px #fff, 1157px 730px #fff, 951px 242px #fff, 1730px 535px #fff, 972px 259px #fff, 363px 398px #fff, 14px 976px #fff, 1859px 964px #fff, 1471px 219px #fff, 588px 918px #fff, 1373px 530px #fff, 796px 803px #fff, 160px 512px #fff, 415px 147px #fff, 237px 545px #fff, 259px 890px #fff, 261px 939px #fff, 319px 563px #fff, 332px 415px #fff, 1244px 683px #fff, 149px 874px #fff, 880px 936px #fff, 1232px 593px #fff, 733px 545px #fff, 1461px 925px #fff, 216px 983px #fff, 1231px 461px #fff, 251px 473px #fff, 1383px 700px #fff, 725px 979px #fff, 163px 16px #fff, 105px 843px #fff, 1822px 633px #fff, 481px 694px #fff, 164px 957px #fff, 1243px 345px #fff, 508px 912px #fff, 131px 893px #fff, 438px 521px #fff, 314px 751px #fff, 404px 954px #fff, 573px 104px #fff, 761px 507px #fff, 35px 782px #fff, 997px 294px #fff, 748px 678px #fff, 375px 995px #fff, 1136px 320px #fff, 1239px 973px #fff, 1638px 45px #fff, 1570px 620px #fff, 217px 76px #fff, 561px 273px #fff, 181px 131px #fff, 373px 93px #fff;
}
.meteor1 {
    position: fixed;
    top: 236px;
    left: 89%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 17.2s linear infinite;
}
.meteor1:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor2 {
    position: fixed;
    top: 66px;
    left: 89%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 19.2s linear infinite;
}
.meteor2:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor3 {
    position: fixed;
    top: 153px;
    left: 79%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 17.4s linear infinite;
}
.meteor3:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor4 {
    position: fixed;
    top: 224px;
    left: 56%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.2s linear infinite;
}
.meteor4:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor5 {
    position: fixed;
    top: 143px;
    left: 84%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 10.2s linear infinite;
}
.meteor5:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor6 {
    position: fixed;
    top: 203px;
    left: 64%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 12.2s linear infinite;
}
.meteor6:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor7 {
    position: fixed;
    top: 73px;
    left: 52%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.2s linear infinite;
}
.meteor7:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor8 {
    position: fixed;
    top: 157px;
    left: 27%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 11.2s linear infinite;
}
.meteor8:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor9 {
    position: fixed;
    top: 209px;
    left: 97%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.5s linear infinite;
}
.meteor9:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor10 {
    position: fixed;
    top: 224px;
    left: 13%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 14.2s linear infinite;
}
.meteor10:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor11 {
    position: fixed;
    top: 244px;
    left: 56%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 13.2s linear infinite;
}
.meteor11:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor12 {
    position: fixed;
    top: 116px;
    left: 42%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.2s linear infinite;
}
.meteor12:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor13 {
    position: fixed;
    top: 202px;
    left: 67%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 18.2s linear infinite;
}
.meteor13:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor14 {
    position: fixed;
    top: 245px;
    left: 97%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 15.2s linear infinite;
}
.meteor14:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
.meteor15 {
    position: fixed;
    top: 255px;
    left: 28%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.2s linear infinite;
}
.meteor15:before {
    content: "";
    position: fixed;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 15px 3px #fff;
}
@keyframes meteor {
    0% {
        opacity: 1;
        margin-top: -300px;
        margin-right: -300px;
    }
    12% {
        opacity: 0;
    }
    15% {
        margin-top: 300px;
        margin-left: -600px;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.starBody {
    margin: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(8, 25, 42, 1) 19%, rgba(1, 4, 6, 1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: -1;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.stars > div:not(#comet) {
    position: absolute;
    background: radial-gradient(ellipse at center, rgba(177, 198, 219, 1) 2%, rgba(5, 63, 118, 1) 100%);
    border-radius: 100%;
    /* filter:blur(1px); */
    animation: shine infinite alternate;
}

@keyframes shine {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        transform: scale(.9);
        opacity: .8;
    }
    40% {
        transform: scale(1);
        opacity: .9;
    }
    40% {
        transform: scale(.2);
        opacity: .2;
    }
    60% {
        transform: scale(.2);
        opacity: .1;
    }
    80% {
        transform: scale(.5);
        opacity: .5;
    }
    100% {
        transform: scale(.9);
        opacity: .9;
    }
}

.comet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comet {
    width: 100px;
    height: 20px;
    background-color: #fff;
    border-radius: 50px 0 0 50px;
    position: relative;
    animation: cometAnimation 2s linear infinite;
}

.comet-head {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.comet-tail {
    width: 20px;
    height: 20px;
    background-color: #ff6600;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(50%, -50%);
    animation: tailAnimation 2s linear infinite;
}

@keyframes cometAnimation {
    0% {
        left: 100%;
    }
    100% {
        left: -30px;
    }
}

@keyframes tailAnimation {
    0% {
        transform: translate(50%, -50%) scale(1);
    }
    50% {
        transform: translate(50%, -50%) scale(1.5);
        opacity: 0;
    }
    100% {
        transform: translate(50%, -50%) scale(1);
    }
}